
<div class="center">
  <h1 class="mb0">Sign in to start chating</h1>
  <small class="mt0 pt0"><strong>Log in if you already have an account</strong> </small>
  <h2 class="mt0 pt0">
    <i class="circular orange comments icon"></i>
  </h2>
</div>


<div class="w50">
  <div class="ui placeholder segment raised">  
    <div class="ui left icon action input">
      <%= form_for(:session, :html =>{class: "ui form"}) do |f| %> 
        <div class="field">
          <%= f.label :username, 'Username' %>
          <div class="ui left icon input">
            <%= f.text_field :username, class: "", placeholder:"Username" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password, 'Password' %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= f.submit "Login ", class:"ui negative button submit w100"%>
      <% end %>
    </div>
    <div class="ui horizontal divider">
      Or
    </div>
    <div class="middle aligned column">
      <div class="ui big button orange">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>

</div>
